[Interface]
Address = 10.13.13.1/24, fd00:13:13:13::1/64
ListenPort = 51880
PrivateKey = server/pri.key

[Peer]
PublicKey = client/pub.key
PresharedKey = server/psk.key
AllowedIPs = 10.13.13.2/32, fd00:13:13:13::2/128
